.root{
    -fx-background-color: #2e2e2e;
}

.label{
    -fx-font-size: 20;
    -fx-font-family: "Lucida Console";
    -fx-alignment: center;
    -fx-text-fill: white;
}

.rotorDisplay{
    -fx-font-size: 24;
    -fx-font-family: "Lucida Console";
    -fx-alignment: center;
    -fx-text-fill: white;
    -fx-background-color: dimgray;
    -fx-pref-height: 45;
    -fx-pref-width: 45;
    -fx-border-color: white;
}

.lamp {
    -fx-background-color: transparent;
    -fx-background-radius: 15;
    -fx-border-color: white;
    -fx-border-width: 2;
    -fx-border-radius: 15; /* Half of min-width and min-height */
    -fx-min-width: 30;
    -fx-min-height: 30;
    -fx-max-width: 30;
    -fx-max-height: 30;
    -fx-alignment: center; /* Center the text inside the label */
    -fx-font-family: "Lucida Console";
}

.choice-box {
    -fx-pref-width: 20;
    -fx-font-size: 16;
    -fx-background-color: dimgray;
    -fx-border-color: white;
    -fx-border-width: 2;
    -fx-control-inner-background: dimgray;
    -fx-selection-bar: midnightblue;
}

.button{
    -fx-font-family: "Lucida Console";
    -fx-font-size: 24;
    -fx-background-color: dimgray;
    -fx-border-color: white;
    -fx-border-width: 2;
    -fx-text-fill: white;
}

.button:hover{
    -fx-background-color: gray;
}
